<table border="1">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{# {{ user@index }}. #} {{ user.name }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
