{% extends 'br.layout.twig' %}

{% block content %}
	{% title key = 'TRANSLATED_TITLE_WITH_CUSTOM_TAG' %}

	<h1>{{ title }}</h1>

	<p>Bla bla bla</p>

	{% include 'br.frame.twig' %}

	<p><button>Save</button></p>
{% endblock %}
